    
    /*SECTION2*/
    .content{
    width:100%;
    display:block;
    background: linear-gradient(#ffc845, #48fe38e0);
    -webkit-background-size: cover;
    }
    .content table{
    width:85%;
    }
    .content table td{
    width:50%;
    text-align:left;
    }
    .content .title{
    color:#fff;
    }
    .content em{
    color:#190e0d;
    }
    .content p{
    color:#fff;
    }
    .content table td:nth-child(2){
    padding-left:40px;
    }
    @media (max-width:600px){
    .content{
    padding:10px 0px;
    }
    .content table{
    width:90%;
    }
    .content table td:nth-child(2){
    padding-left:10px;
    }
    .content table td{
    width:100%;
    display:block;
    }
    } 
    
    /*SECTION5*/
    .section5{
    width:100%;
    margin-top:5%;
    }
    .section5 table{
    width:90%;
    }
    .section5 table td{
    width:50%;
    }
    .section5 h3{
    text-align:center;
    }
    .section5 ul li{
    padding-top:10px;
    padding-bottom:10px;
    border-top:1px solid gray;
    border-bottom:1px solid gray;
    list-style:none;
    height:100px;
    }
    .section5 table td:nth-child(1) p{
    text-align:right;
    }
    .section5 ul li img{
    padding-right:20px;
    }
    .section5 ul li b{
    text-align:right;
    }
    .section5 ul li img{
    width:20%;
    height:70px;
    float:left;
    }
    .accordation {
      background: #fff;
      border-radius: 3px;
      box-shadow: 0 1px 2px rgba(0, 0, 0, 0.075), 0 2px 4px rgba(0, 0, 0, 0.0375);
      padding: 30px;
    }
    
    .panel-group {
      margin-bottom: 0;
    }
    .panel-group .panel {
      border-radius: 0;
      box-shadow: none;
    }
    .panel-group .panel .panel-heading {
      padding: 0;
    }
    .panel-group .panel .panel-heading h4 a {
      background: #f8f8f8;
      display: block;
      font-size: 12px;
      font-weight: bold;
      padding: 15px;
      text-decoration: none;
      transition: 0.15s all ease-in-out;
    }
    .panel-group .panel .panel-heading h4 a:hover, .panel-group .panel .panel-heading h4 a:not(.collapsed) {
      background: #fff;
      transition: 0.15s all ease-in-out;
    }
    .panel-group .panel .panel-heading h4 a:not(.collapsed) i:before {
      content: "ï¨";
    }
    .panel-group .panel .panel-heading h4 a i {
      color: #999;
      text-align:right;
    }
    .panel-group .panel .panel-body {
      padding-top: 0;
    }
    .panel-group .panel .panel-heading + .panel-collapse > .list-group,
    .panel-group .panel .panel-heading + .panel-collapse > .panel-body {
      border-top: none;
    }
    .panel-group .panel + .panel {
      border-top: none;
      margin-top: 0;
    }
    @media (max-width:1100px){
    .section5 table td{
    width:100%;
    display:block;
    }
    .accordation{
    padding:10px;
    }
    }
     
    
    /*FOOTER*/
    .footer{
    width:100%;
    padding:50px 0px;
    background-image:url(https://i.ibb.co/7N4wH4y/footer.jpg);
    background-size:100% 100%;
    text-align:center;
    }
    .footer i{
    color:#000;
    padding:10px;
    height:40px;
    font-size:20px;
    width:40px;
    margin:10px;
    border-radius:50%;
    background:#fff;
    transition:0.5s;
    }
    .footer i:hover.fa-facebook{
    background:#007bff;
    color:#fff;
    }
    .footer i:hover.fa-instagram{
    background:#fd375a;
    color:#fff;
    }
    .footer i:hover.fa-envelope{
    background:#cc8620;
    color:#fff;
    }
    .footer i:hover.fa-phone{
    background:#70412e;
    color:#fff;
    }
    .footer p{
    color:#fff;
    }
    .footer .fa-heart-o{
    color:#fd375a;
    background:none;
    }
